__pycache__
.settings/
.dart_tool
.packages
analysis_options.yaml
.DS_Store
.ccls-cache
*.class
*.swp
*.o
*.a
a.out
node_modules
build
jspm_packages
typings
/C++/NetBeans Projects/TestNetBeansApplication/build/
/C++/NetBeans Projects/TestNetBeansApplication/dist/
bin/
target/
.classpath
.project
workbench.xmi
.gradle
gradlew
gradlew.bat
.idea
*.bat
gradle
*.iws
*.xmi
*.iml
*.ipr
