.DS_Store
*.class
*.swp
*.o
*.a
a.out
node_modules
build
jspm_packages
typings
/C++/NetBeans Projects/TestNetBeansApplication/build/
/C++/NetBeans Projects/TestNetBeansApplication/dist/
bin/
target/
.classpath
.project
workbench.xmi
.gradle
*.iws
*.xmi